.navbar {
	overflow: hidden;
	position: fixed;
	z-index: 100;
	width: 100%;
	padding: 20px;
}

@font-face{
	font-family: "dosis";
	src: url("../dosis/dosislight.ttf") format("ttf");
}

.navbar a {
	float: left;
	display: block;
	color: #3c2f2f;
	text-align: right;
	padding: 14px 16px;
	font-weight: 700;
	text-decoration: none;
	letter-spacing: 3px;
	font-family: "dosis";
}

body, html{
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	overflow-x: hidden;
	background-color: #fff4e6;

}

.parallax{
	background-color: rgba(255, 128, 128, 0.6);
	opacity: 50%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 500px 500px;
	font-size: 30px;
}


.titletext{
	padding: 200px 150px 200px 420px;
	width: 40%;
	object-position: relative;
}

h1 {
	margin-left: 30px;
	margin-bottom: 60px;
}

h2 {
	font-size: 30px;
}

h3{
	margin-left: 40px; 
	font-size: 22px;
	text-decoration: underline;
}

h4{
	margin-left: 60px;
	font-size: 20px;
}

p{
	margin-left: 40px;
	width: 60%;
	font-size: 18px;
}

li{
	margin-left: 100px;
	font-size: 18px;
}

ol{
	font-size: 18px;
}

.Motivation{
	padding: 25px 40px 40px 40px;
	min-height: 70%;
}

.Research{
	padding: 25px 40px 10px 40px;
	min-height: 100%;
	background-color: rgba(190,155,123, 0.2);
}

.Research p{
	line-height: 30px;
}
	

.findings li{
	line-height: 40px;
	width: 60%;
}

.findings p{
	line-height: 30px;
	width: 40%;
	margin-left: 100px;
}

.findings{
	background-color: rgba(190,155,123, 0.2);
	padding-bottom: 100px;
}

.findings figcaption{
	position: relative;
	text-align: center;
	padding-top: 10px;
}



.CA{
	padding: 25px 40px 20px 40px;
}


.Prototypes{
	padding: 25px 40px 40px 40px;
	min-height: 100%;
	background-color: rgba(190,155,123, 0.2);
}

.flowchart{
	position: relative;
	left: 30%;
	padding-top: 40px;
	padding-bottom: 30px;
}

.feature p, .cardsort p{
	margin-left: 100px;
	width: 60%;
}

.flowchart figcaption{
	position: relative;
	left: 15%;
	padding-top: 10px;
}

.sitemap{
	position: relative;
	left: 20%;
	padding-top: 20px;
	padding-bottom: 20px;
}

.sitemap figcaption{
	position: relative;
	left: 27%;
	padding-top: 10px;
}

.hifiprototype{
	max-width: 320px;
	position: relative;
	left: 40%;
	padding-top: 50px;
	margin-bottom: 80px;
}


.testing{
	padding: 25px 40px 40px 40px;
	min-height: 100%;
}

.testing li{
	margin-left: 80px;

}

.testing p{
	width: 60%;
}

.videos{
	max-width: 370px;
	position: relative;
	left: 40%;
	padding-top: 50px;
	margin-bottom: 80px;
	max-height: 500px;
}

.ut{
	padding-left: 20px;
}

.slick-next:before, .slick-prev:before {
	color: #4a4a4a;
}

.hifiprototype slick-prev{
	left: -30px;
}

.Results{
	padding: 25px 40px 0px 40px;
	background-color: rgba(190,155,123, 0.2);
}


.Results p, li{
	width: 40%;
}

.iteration{
	margin-top: 120px;
}

.iteration p, li{
	line-height: 25px;
	margin-left: 80px;
}

.iteration1 {
	position: relative;
	left: 100px;
	top: -20px;
}

.iteration img{
	position: relative; 
	left: 50%;
	top: -200px;
}

.final{
	padding-top: 30px;
	padding-bottom: 30px;
}

.final p{
	font-size: 20px;
}

.demo{
	position: relative;
	left: 40%;
	padding-top: 20px;
}

