

@font-face{
	font-family: "mayton";
	src: url("../Mayton.ttf") format("ttf");
	src: url("../Mayton.otf") format("otf");
	src: url("../Mayton.woff") format("woff");
}


body, html{
	background-color: #ffffff;
	font-family: "Lato", sans-serif;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	height: 100%;
	width: 100%;	
}

.navbar {
	overflow: hidden;
	position: fixed;
	z-index: 100;
	width: 100%;
	padding: 20px;
	background-color: #fff;
}


.navbar a {
	float: left;
	display: block;
	color: #3c2f2f;
	text-align: right;
	padding: 14px 16px;
	font-family: "Lato", sans-serif;
	font-weight: 700;
	text-decoration: none;
	letter-spacing: 3px;	
}


span#initials{
	position: absolute;
	right: 7%;
	top: 30%;
	font-family: "mayton";
	color: #d0826f;
	font-size: 60px;
	font-weight: 700;
	letter-spacing: 6px;
}


.parallax{
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 500px 500px;
	font-size: 30px;
}


.titletext{
	display: inline-block;
	color: #3c2f2f;
	font-weight: bolder;
	font-size: x-large;
	position: relative;
	left: 55%;
}

.overview{
	padding: 100px 0px 50px 0px;
}

.overview h2{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.overview h4{
	font-family: "Montserrat", sans-serif;
	font-weight: lighter;
	text-align: center;
	left: 0%;
}

.overview p{
	text-align: center;
	transform: translateY(-50%);
}

h1 {
	margin-bottom: 60px;
}

h2 {
	font-family: "Montserrat", sans-serif;
	font-weight: 100;
	font-size: 18px;
	text-align: center;
	padding-bottom: 30px;
	letter-spacing: 2px;
}

h3{
	position: relative;
	left: 25%;
	font-size: 22px;
	width: 50%;
}

h4{
	position: relative;
    	font-size: 18px;
   	font-weight: 600;
    	left: 25%;
}

p{
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	font-family: "Lato", sans-serif;
	font-weight: lighter;
	font-size: 16px;
	line-height: 25px;
}

ol{
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	font-size: 14px;
	line-height: 25px;
}

hr{
	width: 80%;
}

.Motivation, .Research, .CA, .Prototypes, .testing, .Results, .hifiprototype{
	padding: 50px 0px 50px 0px;
	
}
	

.testing li, .Prototypes li, .CA li{
	position: relative;
	line-height: 25px;
	font-weight: lighter;
	font-size: 14px;
	width: 100%;
}

ul{
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	font-size: 14px;
	line-height: 25px;
}

.findings{
	padding-bottom: 100px;
}

.findings figcaption{
	position: relative;
	text-align: center;
	padding-top: 10px;
}


.flowchart{
	margin-left: auto;
    	margin-right: auto;
    	text-align: center;
	padding-top: 40px;
	padding-bottom: 30px;
}

.flowchart figcaption{
	position: relative;
	padding-top: 10px;
}

.sitemap{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.sitemap figcaption{
	padding-top: 10px;
}

.hifiprototype{
	max-width: 320px;
	position: relative;
	left: 40%;
	padding-top: 50px;
	margin-bottom: 80px;
}


.testing p{
	width: 50%;
}

.videos{
	max-width: 370px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
	margin-bottom: 80px;
	max-height: 500px;
}

.ut{
	padding-left: 20px;
}

.slick-next:before, .slick-prev:before {
	color: #4a4a4a;
}

.hifiprototype slick-prev{
	left: -30px;
}


.iteration{
	display: inline-block;
	width: 100%;
	float: left;
	padding-bottom: 50px;
}
.iteration::after{
   	content: " ";
   	display: block; 
   	height: 0; 
   	clear: both;
	padding: 0px 0px 50px 0px;
}

.iteration h3{
	position: relative;
	left: 0;
	text-align: center;
}

.iteration p{
	float: left;
	transform: translateX(30%);
	
}
.iteration1 {
	display: inline-block;
}
.iteration1 p{
	position: relative;
	left: -20px;
}
.iteration1 img{
	float: right;
	transform: translateX(-50%);
}

.it2 {
	overflow-y: hidden;
}

.it2 p{
	float: left;
	width: 40%;
	padding-top: 50px;
}

.it2 img{
	float: right;
	transform: translate(-10%, -20%);
}
.it3 {
	transform: translateY(20%);
	float: left;
}

.it3 p{
	float: left;
	width: 40%;
}

.it3 img{
	float: right;
	transform: translateX(-10%);
}
	
.final{
	padding-top: 30px;
	padding-bottom: 30px;
}

.final p{
	font-size: 20px;
}

.demo{
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	padding-top: 50px;
}

.footer{
	width: 100%;
	color: #3b4358;
	text-align: center;
	font-size: 14px;
	padding: 15px;
}
