* {
	box-sizing: border-box;
}

.navbar {
	overflow: hidden;
	position: fixed;
	z-index: 100;
	width: 100%;
}

@font-face{
	font-family: "codepro";
	src: url("../codepro/codeprolight.woff") format("woff");
}

.navbar a {
	float: left;
	display: block;
	color: #3c2f2f;
	text-align: right;
	padding: 14px 16px;
	font-weight: 700;
	text-decoration: none;
	letter-spacing: 3px;
	font-family: "codepro";
}


body, html{
	background-color: #fff4e6;
	font-family: Quicksand, sans-serif;
	margin: 0;
	height: 80%;
}

.parallax{
	background-color: rgba(190,155,123, 0.2);
	background-image: url("Images/GiftGuru Images/GiftGuru Logo.jpg");
	opacity: 50%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 500px 500px;
	font-size: 30px;
}

.titletext{
	margin: 0 auto;
	padding-top: 210px;
	max-width: 430px;
	object-position: relative;

}

h1 {
	margin-left: 30px;
	margin-bottom: 60px;
}

h2 {
	font-size: 30px;
}

h3{
	margin-left: 40px; 
	font-size: 22px;
}

h4{
	margin-left: 60px;
	font-size: 20px;
}

p{
	margin-left: 40px; 
	width: 60%;
	font-size: 18px;
}


li{
	margin-left: 80px;
	font-size: 18px;
}

.Motivation{
	padding: 25px 40px 40px 40px;
	min-height: 70%;
	width: 70%;
}

.Research{
	padding: 25px 40px 40px 40px;
	min-height: 100%;
	background-color: rgba(190,155,123, 0.2);
	
}

.Prototypes{
	padding: 25px 40px 40px 40px;
}

.PrototypeV1{
	padding: 25px 40px 40px 40px;
	position: fixed;

}

.Images{
	max-width: 500px;
	position: relative;
	left: 50%;
    transform: translateX(-50%);
	margin-top: 20px;
	margin-bottom: 30px;
}

.slick-next:before, .slick-prev:before {
	color: #4a4a4a;
}

.Prototype1{
	max-width: 650px;
	position: relative;
	margin-bottom: 50px;
	max-height: 550px;
}

.v1images{
	display: none;
}

.Chart{
	display: none;
}

.Charts {
	text-align: center;
}

.Sketches{
	max-width: 600px;
	position: relative;
	left: 50%;
    transform: translateX(-50%);
	margin-top: 50px;
	margin-bottom: 30px;
}

.PaperPrototypes{
	display: none;
}

.next{
	right: 0;
	border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
	background-color: white;
}

.caption{
	color: "black";
	font-size: 15px;
	padding: 0px 0px;
	margin-left: 200px;
	position: relative;
	bottom: 100px;
	width: 30%;
	text-align: right;
}

.number{
	color: "black";
	font-size: 14px;
	padding-bottom: 8px;
	top: 0;
	
}

.text{
	width: 70%;
	margin-left: 80px;
	position: center;
}

.Testing{
	padding: 25px 40px 40px 40px;
	min-height: 100%;
	background-color: rgba(190,155,123, 0.2);
}


.task {
	margin-left: 80px;
}

.Findings{
	padding: 25px 40px 40px 40px;
	min-height: 100%;
}

ol{
	margin-left: 40px; 
	width: 60%;
}

.featherlight-gallery .featherlight-next:hover,
.featherlight-gallery .featherlight-previous:hover{
	background-color: #4a4a4a;
}

.featherlight-gallery .featherlight-next:hover span,
.featherlight-gallery .featherlight-previous:hover span {
	font-size: 25px;
	line-height: 25px;
	margin-top: -12.5px;
	color: #fff;
}

.FinalPrototype{
	padding: 25px 40px 40px 40px;
	background-color: rgba(190,155,123, 0.2);
}
