@font-face{
	font-family: "mayton";
	src: url("../Mayton.ttf") format("ttf");
	src: url("../Mayton.otf") format("otf");
	src: url("../Mayton.woff") format("woff");
}

	
body, html{
	background-color: #ffffff;
	font-family: "Lato", sans-serif;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	height: 100%;
	width: 100%;	
}

.navbar {
	overflow: hidden;
	position: fixed;
	z-index: 100;
	width: 100%;
	background-color: #ffffff;
	padding: 20px;
}


.navbar a {
	float: left;
	display: block;
	color: #3c2f2f;
	text-align: right;
	padding: 14px 16px;
	font-weight: 700;
	text-decoration: none;
	letter-spacing: 3px;
	font-family: "Lato", sans-serif;
}

span#initials{
	position: absolute;
	right: 7%;
	top: 30%;
	font-family: "mayton";
	color: #b2b248;
	font-size: 60px;
	font-weight: 700;
	letter-spacing: 6px;
}

.logo {
	transform: translate(30%, 70%);
}

.titletext{
	display: inline-block;
	color: #3c2f2f;
	font-weight: bolder;
	font-size: x-large;
	position: relative;
	left: 55%;
}

.overview{
	padding: 100px 0px 50px 0px;
}

.overview h2{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.overview h4{
	font-family: "Montserrat", sans-serif;
	font-weight: lighter;
	text-align: center;
}

.overview p{
	text-align: center;
	transform: translateY(-50%);
}

h1 {
	margin-left: 30px;
	margin-bottom: 60px;
}


h2 {
	font-family: "Montserrat", sans-serif;
	font-weight: 100;
	font-size: 24px;
	text-align: center;
	padding-bottom: 30px;
	letter-spacing: 2px;
}

h3{
	position: relative;
	left: 25%;
	font-size: 22px;
}

p{
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	font-family: "Lato", sans-serif;
	font-weight: lighter;
	font-size: 16px;
}

li{
	transform: translateX(50%);
	width: 50%;
	font-weight: lighter;
	font-size: 14px;
}

hr{
	width: 80%;
	border-width: 0.8px;
}

.Motivation{
	padding: 40px 0px 50px 40px;
	
}

.Research{
	padding: 40px 0px 50px 0px;
	
}

.Prototypes{
	padding: 40px 0px 50px 0px;
}

.PrototypeV1{
	padding: 40px 0px 50px 0px;
	position: fixed;

}

.Images{
	max-width: 500px;
	position: relative;
	left: 50%;
    	transform: translateX(-50%);
	margin-top: 20px;
	margin-bottom: 30px;
}

.slick-next:before, .slick-prev:before {
	color: #4a4a4a;
}

.Prototype1{
	max-width: 650px;
	position: relative;
	margin-bottom: 50px;
	max-height: 550px;
}

.v1images{
	display: none;
}

.Chart{
	display: none;
}

.Charts {
	text-align: center;
}

.Sketches{
	max-width: 600px;
	position: relative;
	left: 50%;
    	transform: translateX(-50%);
	margin-top: 50px;
	margin-bottom: 30px;
}

.PaperPrototypes{
	display: none;
}

.next{
	right: 0;
	border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
	background-color: white;
}

.caption{
	color: "black";
	font-size: 15px;
	padding: 0px 0px;
	margin-left: 200px;
	position: relative;
	bottom: 100px;
	width: 30%;
	text-align: right;
}

.number{
	color: "black";
	font-size: 14px;
	padding-bottom: 8px;
	top: 0;
	
}

.text{
	position: relative;
	text-align: center;
}

.Testing{
	padding: 40px 0px 50px 0px;
	min-height: 100%;
}

.task {
	margin-left: 80px;
}

.Findings{
	padding: 40px 0px 50px 0px;
	min-height: 100%;
}

ol{
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.featherlight-gallery .featherlight-next:hover,
.featherlight-gallery .featherlight-previous:hover{
	background-color: #4a4a4a;
}

.featherlight-gallery .featherlight-next:hover span,
.featherlight-gallery .featherlight-previous:hover span {
	font-size: 25px;
	line-height: 25px;
	margin-top: -12.5px;
	color: #fff;
}
.FinalPrototype{
	padding: 40px 0px 50px 0px;
}
