@font-face{
	font-family: "mayton";
	src: url("../Mayton.ttf") format("ttf");
	src: url("../Mayton.otf") format("otf");
	src: url("../Mayton.woff") format("woff");
}

	
body, html{
	background-color: #ffffff;
	font-family: "Lato", sans-serif;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	height: 100%;
	width: 100%;	
}

.navbar {
	overflow: hidden;
	position: fixed;
	z-index: 100;
	width: 100%;
	background-color: #ffffff;
	padding: 10px;
}


.navbar a {
	float: left;
	display: block;
	color: #3c2f2f;
	text-align: right;
	padding: 14px 16px;
	margin-right: 10px;
	font-weight: 700;
	text-decoration: none;
	letter-spacing: 3px;
	font-family: "Lato", sans-serif;
}

.navbar a:hover{
	color: #2f4788;
	border-bottom-style: solid;
    	border-bottom-color: #2f4788;
}

.navbar a.active{
	color: #2f4788;
	border-bottom-style: solid;
    	border-bottom-color: #2f4788;
}


nav[data-toggle='toc'] {
	transform: translateY(70%);
	width: 25%;
	position: fixed;

}

 nav[data-toggle='toc'] .nav .active .nav {
    display: none;
  }

.navbar-nav{
	left: 0%;
}

img.logo{
	text-align: center;
	display: flex;
	width: 50%;
	margin-top: 100px;
}

.overview{
	padding: 50px 0px 50px 0px;
}

.overview h2{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.overview h4{
	font-family: "Montserrat", sans-serif;
	font-weight: lighter;
	position: relative;
	left: 25%;
	width: 50%;
	font-size: 16px;
}

.overview p{
	width: 50%;
   	padding-bottom: 20px
}


h1 {
	margin-bottom: 60px;
}


h2 {
	font-family: "Montserrat", sans-serif;
	font-weight: 100;
	font-size: 18px;
	text-align: center;
	padding-bottom: 30px;
	letter-spacing: 2px;
}

h3{
	position: relative;
	left: 25%;
	font-size: 22px;
}
h4{
	position: relative;
	left: 25%;
}

p{
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	font-family: "Lato", sans-serif;
	font-weight: lighter;
	font-size: 16px;
	line-height: 25px;
}

li{
	font-weight: lighter;
	font-size: 14px;
	line-height: 25px;
}

hr{
	width: 70%;
	margin-top: 0px;
	margin-bottom: 0px;
}

#Motivation, #Research, #Prototypes, #Testing, #Findings, #iteration, #FinalPrototype, #takeaways{
	padding: 49px 0px 51px 0px;
	
}

.PrototypeV1{
	padding: 50px 0px 50px 0px;
	position: fixed;

}

.Images{
	max-width: 500px;
	position: relative;
	left: 50%;
    	transform: translateX(-50%);
	margin-top: 20px;
	margin-bottom: 30px;
}

.slick-next:before, .slick-prev:before {
	color: #4a4a4a;
}

.Prototype1{
	max-width: 650px;
	position: relative;
	margin-bottom: 50px;
	max-height: 550px;
}

.v1images{
	display: none;
}

.Chart{
	display: none;
}

.Charts {
	text-align: center;
}

.Sketches{
	max-width: 600px;
	position: relative;
	left: 50%;
    	transform: translateX(-50%);
	margin-top: 50px;
	margin-bottom: 30px;
}

.PaperPrototypes{
	display: none;
}

.next{
	right: 0;
	border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
	background-color: white;
}

.caption{
	color: "black";
	font-size: 15px;
	padding: 0px 0px;
	margin-left: 200px;
	position: relative;
	bottom: 100px;
	width: 30%;
	text-align: right;
}

.number{
	color: "black";
	font-size: 14px;
	padding-bottom: 8px;
	top: 0;
	
}

.text{
	text-align: center;
}


.task {
	margin-left: 80px;
}


ol{
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	font-size: 14px;
}

ul {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	font-size: 14px;
}

.featherlight-gallery .featherlight-next:hover,
.featherlight-gallery .featherlight-previous:hover{
	background-color: #4a4a4a;
}

.featherlight-gallery .featherlight-next:hover span,
.featherlight-gallery .featherlight-previous:hover span {
	font-size: 25px;
	line-height: 25px;
	margin-top: -12.5px;
	color: #fff;
}


.footer{
	width: 100%;
	color: #3b4358;
	text-align: center;
	font-size: 14px;
	padding: 15px;
}

.footer p{
	font-size: 14px;
}
