@font-face{
	font-family: "codepro";
	src: url("../codepro/codeprolight.woff") format("woff");
}

body {
	margin: 0;
	font-family: "codepro";
	background-color: #fff4e6;
}

.navbar {
	overflow: hidden;
	position: fixed;
	top: 0;
	z-index: 100;
	width: 100%;
	margin-bottom: 20px;
}

.navbar a {
	float: left;
	display: block;
	color: #3c2f2f;
	text-align: right;
	padding: 14px 16px;
	font-weight: 700;
	text-decoration: none;
	letter-spacing: 3px;

}


.description{
	font-family: 'Quicksand', sans-serif;
	font-weight: lighter;
	padding: 150px 0px 0px 140px;
	width: 40%;
	line-height: 30px;
}

.dp{
	position: relative;
	left: 650px;
	top: -220px;
}
