

@font-face{
	font-family: "mayton";
	src: url("../Mayton.ttf") format("ttf");
	src: url("../Mayton.otf") format("otf");
	src: url("../Mayton.woff") format("woff");
}

.navbar {
	overflow: hidden;
	position: fixed;
	z-index: 100;
	width: 100%;
	background-color: #ffffff;
	padding: 20px;
}

.navbar a {
	float: left;
	display: block;
	color: #3c2f2f;
	text-align: right;
	padding: 14px 16px;
	font-family: "Lato", sans-serif;
	font-weight: 700;
	text-decoration: none;
	letter-spacing: 3px;
	
}

span#initials{
	position: absolute;
	right: 7%;
	top: 30%;
	font-family: "mayton";
	color: #b2b248;
	font-size: 60px;
	font-weight: 700;
	letter-spacing: 6px;
}

body, html{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-color: #ffffff;
	font-family:"Lato", sans-serif;
	overflow-x: hidden;
	
}

.logo {
	position: relative;
	left: 40%;
	transform: translateY(80%);
}

.titletext{
	display: inline-block;
	color: #3c2f2f;
	font-weight: bolder;
	font-size: x-large;
	padding-left: 55%;
	padding-top: 5%;
}

.overview{
	padding: 40px 40px 50px 40px;
}

video{
	width: 100%;
}


h1{
	margin-top: 0px; 
	margin-bottom: 100px;
}

h2{
	font-family: "Montserrat", sans-serif;
	font-weight: 100;
	font-size: 24px;
	text-align: center;
	padding-bottom: 30px;
	letter-spacing: 2px;
}

h3{
	position: relative;
	left: 25%;
	font-family: "Lato", sans-serif;
	font-size: 22px;
}

p{
	margin-left: auto;
	margin-right: auto;
	font-family: "Lato", sans-serif;
	font-weight: lighter;
	width: 50%;
	font-size: 16px;
}

ol{
	position: relative;
	left: 25%;
	line-height: 15px;
	font-family: "Lato", sans-serif;
	font-weight: lighter;
	font-size: 14px;
}

li{
	position: relative;
	left: 25%;
	line-height: 15px;
	font-weight: lighter;
	font-size: 14px;
}

hr{
	width: 80%;
	border-width: 0.8px;
}

.Problem{
	padding: 25px 40px 50px 40px;
}

.Journey{
	padding-top: 50px;
}

.Research{
	padding-top: 30px;
	width: 100%;
}

.Research li {
	line-height: 30px;
}


.Prototypes{
	padding: 40px 40px 40px 40px;
	
}

.blueprint{
	padding: 0px 40px 40px 40px;
}

.Mockups-container{
	max-width: 600px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin-bottom: 30px;
}

.screens{
	width: 100%;
	padding: 40px 0px 40px 40px;
}

.slick-next:before, .slick-prev:before {
	color: #4a4a4a;
}

.mockup{
	display: none;
}

.mySlides{
	display: none;
}

.slideshow-container {
	max-width: 700px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}


.text{
	color: "black";
	font-size: 15px;
	padding: 0px 0px;
	margin-left: 370px;
	position: relative;
	bottom: 140px;
	width: 30%;
	text-align: right;
}

.text1{
	color: "black";
	font-size: 15px;
	padding: 0px 10px;
	margin-left: 320px;
	position: absolute;
	bottom: 150px;
	width: 50%;
	text-align: right;

}

.numbertext{
	color: "black";
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

.demo{
	padding-top: 40px;
	height: 500px;
	width: 80%;
	position: relative;
	left: 10%;
}
