

@font-face{
	font-family: "mayton";
	src: url("../Mayton.ttf") format("ttf");
	src: url("../Mayton.otf") format("otf");
	src: url("../Mayton.woff") format("woff");
}

.navbar {
	overflow: hidden;
	position: fixed;
	z-index: 100;
	width: 100%;
	background-color: #ffffff;
	padding: 10px;
}

.navbar a {
	float: left;
	display: block;
	color: #3c2f2f;
	text-align: right;
	padding: 14px 16px;
	margin-right: 10px;
	font-family: "Lato", sans-serif;
	font-weight: 700;
	text-decoration: none;
	letter-spacing: 3px;
	
}

.navbar a:hover{
	color: #2f4788;
	border-bottom-style: solid;
    	border-bottom-color: #2f4788;
}

.navbar a.active{
	color: #2f4788;
	border-bottom-style: solid;
    	border-bottom-color: #2f4788;
}

span#initials{
	position: absolute;
	right: 7%;
	top: 30%;
	font-family: "mayton";
	color: #d0826f;
	font-size: 60px;
	font-weight: 700;
	letter-spacing: 6px;
}

.sidenav{
	width: 30%;
	position: absolute;
	top: 30%;
	font-family: "Montserrat", sans-serif;
}

.sidenav h3{
	position: absolute;
	left: 5%;
	top: 25%;
	text-transform: uppercase;
}

.sidenav ul{
	list-style-type: none;
	position: absolute;
	background-color: rgba(255, 255, 255, 0.7);
	transform: translateY(20%);
	left: 0%;
	min-width: 100%;
}

.sidenav li{
	margin: 5px;
}

.sidenav a{
	font-family: "Montserrat", sans-serif;
	text-decoration: none;
	text-transform: uppercase;
}

.sidenav a:visited{
	color: black;
}

.sidenav a:hover{
	background-color: #fffaf1;
}

body, html{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-color: #ffffff;
	font-family:"Lato", sans-serif;
	overflow-x: hidden;
	
}

.logo {
	transform: translate(30%, 60%);
}

.titletext{
	display: inline-block;
	color: #3c2f2f;
	font-weight: bolder;
	font-size: x-large;
	position: relative;
	left: 55%;
}

.overview{
	padding: 100px 0px 50px 0px;
}

.overview h2{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.overview h4{
	font-family: "Montserrat", sans-serif;
	font-weight: lighter;
	position: relative;
	left: 25%;
}

.overview p{
	transform: translateY(-50%);
}


h2{
	font-family: "Montserrat", sans-serif;
	font-weight: 100;
	font-size: 18px;
	text-align: center;
	padding-bottom: 30px;
	letter-spacing: 2px;
}

h3{
	position: relative;
	left: 25%;
	font-family: "Lato", sans-serif;
	font-size: 22px;
}

p{
	margin-left: auto;
	margin-right: auto;
	font-family: "Lato", sans-serif;
	font-weight: lighter;
	width: 50%;
	font-size: 16px;
	line-height: 25px;
}

ol{
	position: relative;
	left: 25%;
	width: 50%;
	line-height: 25px;
	font-family: "Lato", sans-serif;
	font-weight: lighter;
	font-size: 14px;
}
ul{
	position: relative;
	left: 25%;
	width: 50%;
	line-height: 25px;
	font-family: "Lato", sans-serif;
	font-weight: lighter;
	font-size: 14px;
}


hr{
	width: 70%;
}

#Problem, #hmw, #Research, #Prototypes, #iteration, .blueprint, #iterations, #demo, #takeaways{
	padding: 50px 0px 50px 0px;
}


.Journey{
	padding-top: 100px;
	float: left;
	padding-left: 80px;
}


#synthesis{
	display: inline-block;
	padding: 50px 0px 0px 0px;
	width: 100%;
}

#synthesis li, #Prototypes li, .contd li{
	position: relative;
	line-height: 25px;
	font-weight: lighter;
	font-size: 14px;
}

.persona{
	display: inline-block;
}

.persona img{
	display: inline-block;
	float: right;
	padding-right: 50px;
	transform: translateY(-55%);
}

.contd{
	margin-left: auto;
	margin-right: auto;
	font-family: "Lato", sans-serif;
	font-weight: lighter;
	width: 100%;
	font-size: 16px;
	padding-bottom: 50px;
}

.contd p{
	position: relative;
}
	
.blueprint{
	padding: 0px 0px 50px 0px;
}

.Mockups-container{
	max-width: 300px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin-bottom: 30px;
}

.screens{
	width: 100%;
}

.slick-next:before, .slick-prev:before {
	color: #4a4a4a;
}

.mockup{
	display: none;
}

.mySlides{
	display: none;
}

.slideshow-container {
	width: 700px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.text{
	color: "black";
	font-size: 15px;
	padding: 0px 0px;
	margin-left: 370px;
	position: relative;
	bottom: 140px;
	width: 30%;
	text-align: center;
}

.text1{
	color: "black";
	font-size: 15px;
	text-align: center;

}

.numbertext{
	color: "black";
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

#demo{
	height: 500px;
	width: 80%;
	position: relative;
	left: 10%;
}

.footer{
	width: 100%;
	color: #3b4358;
	text-align: center;
	font-size: 14px;
	padding: 15px;
}
