
body, html {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	font-family: "Lato", sans-serif;
}


.navbar {
	overflow: hidden;
	position: fixed;
	top: 0;
	z-index: 100;
	width: 100%;
	padding: 10px;
}

.navbar a {
	float: left;
	display: block;
	color: white;
	text-align: right;
	padding: 14px 16px;
	margin-right: 10px;
	font-weight: 700;
	text-decoration: none;
	letter-spacing: 3px;
}


.navbar a:hover{
	color: #2f4788;
	border-bottom-style: solid;
    	border-bottom-color: #2f4788;
}

.navbar a.active{
	color: #2f4788;
	border-bottom-style: solid;
    	border-bottom-color: #2f4788;
}

#resume{
	height: 100%;
	width: 100%;
}
