@font-face{
	font-family: "dosis";
	src: url("../dosis/dosislight.ttf") format("ttf");
}

body {
	margin: 0;
	font-family: "dosis";
	background-color: #fff4e6;
}


.navbar {
	overflow: hidden;
	position: fixed;
	top: 0;
	z-index: 100;
	width: 100%;
	margin-bottom: 20px;
}

.navbar a {
	float: left;
	display: block;
	color: white;
	text-align: right;
	padding: 14px 16px;
	font-weight: 700;
	text-decoration: none;
	letter-spacing: 3px;

}


.resume{

}
