body, html{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-color: #ffffff;
	font-family:"Lato", sans-serif;
	overflow-x: hidden;
	
}
.navbar {
	overflow: hidden;
	position: fixed;
	z-index: 100;
	width: 100%;
	background-color: #ffffff;
	padding: 10px;
}

.navbar a {
	float: left;
	display: block;
	color: #3c2f2f;
	text-align: right;
	padding: 14px 16px;
	margin-right: 10px;
	font-family: "Lato", sans-serif;
	font-weight: 700;
	text-decoration: none;
	letter-spacing: 3px;
	
}

.navbar a:hover{
	color: #2f4788;
	border-bottom-style: solid;
    	border-bottom-color: #2f4788;
}

.navbar a.active{
	color: #2f4788;
	border-bottom-style: solid;
    	border-bottom-color: #2f4788;
}


nav[data-toggle='toc'] {
	transform: translateY(70%);
	width: 25%;
	position: fixed;

}

 nav[data-toggle='toc'] .nav .active .nav {
    display: none;
  }

.navbar-nav{
	left: 0%;
}
nav[data-toggle=toc] .nav>li>a {
	text-transform: uppercase;
}

nav[data-toggle=toc] .nav>li>a:focus, nav[data-toggle=toc] .nav>li>a:hover {
	color: #2f4788;
	border-left: 1px solid #2f4788;
}

img.logo {
	text-align: center;
    	display: flex;
    	width: 50%;
    	margin-top: 100px;
}

.overview{
	padding: 51px 0px 51px 0px;
}

.overview h2{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.overview h4{
	font-family: "Montserrat", sans-serif;
	font-weight: lighter;
	position: relative;
	left: 25%;
	width: 50%;
	font-size: 16px;
}

.overview p{
	width: 50%;
   	padding-bottom: 20px
}

h2{
	font-family: "Montserrat", sans-serif;
	font-weight: 100;
	font-size: 18px;
	text-align: center;
	padding-bottom: 30px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

h3{
	position: relative;
	left: 25%;
	font-family: "Lato", sans-serif;
	font-size: 22px;
	width: 50%;
	padding-bottom: 5px;
}

h4{
	position: relative;
    	width: 50%;
    	left: 25%;
    	padding-top: 15px;
}

p{
	margin-left: auto;
	margin-right: auto;
	font-family: "Lato", sans-serif;
	font-weight: lighter;
	width: 50%;
	font-size: 16px;
	line-height: 25px;
}

ol{
	position: relative;
	width: 50%;
	left: 25%;
	line-height: 25px;
	font-family: "Lato", sans-serif;
	font-weight: lighter;
	font-size: 14px;
}
ul{
	position: relative;
	width: 50%;
	left: 25%;
	line-height: 25px;
	font-family: "Lato", sans-serif;
	font-weight: lighter;
	font-size: 14px;
}


hr{
	width: 70%;
}


#motivation, #background, #methods, #findings, #implications, #limitations, #takeaways{
	padding: 50px 0px 50px 0px;
}

.footer{
	width: 100%;
	color: #3b4358;
	text-align: center;
	font-size: 14px;
	padding: 15px;
}
.footer p{
	font-size: 14px;
}
