@font-face{
	font-family: "codepro";
	src: url("../codepro/codeprolight.woff") format("woff");
}

body {
	margin: 0;
	font-family: "codepro";
	background-color: #ffffff;
}


h2{
	font-family: "codepro";
	padding: 90px 0px 5px 70px;
	letter-spacing: 6px;
	font-weight: 900;
	font-size: 40px;
	border-bottom: solid 2px;
	border-bottom-color: #854442;
}


.navbar {
	overflow: hidden;
	position: fixed;
	top: 0;
	z-index: 100;
	width: 100%;
	margin-bottom: 20px;
}

.navbar a {
	float: left;
	display: block;
	color: #3c2f2f;
	text-align: right;
	padding: 14px 16px;
	font-weight: 700;
	text-decoration: none;
	letter-spacing: 3px;

}

.container{
	display: grid;
	grid-template-columns: 50px calc(50% - 72.5px) calc(50% - 72.5px) 50px;
	grid-template-rows: 400px 350px 300px 100px;
	grid-gap: 15px;
	margin-top: -370px;

}

.overlay{
	display: inline-block;
	transition: .5s ease;
	opacity: 0;
	position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.projectitem-1{
	grid-column: 2 / 3;
	grid-row: 2 / 3;
	justify-self: end;
	align-self: center;
	position: relative;
	background-image: url("../Images/Work Images/NUVents Mockup.jpeg");
	background-size: cover;
}

div[class*="projectitem"] {
	height: 350px;
	width: 100%;
}

div[class*="projectitem"] .image:hover {
	opacity: 0.3
}
	
div[class*="projectitem"] .overlay:hover {
	opacity: 1;
}

.text {
	background-color: rgb(75,56,50);
	color: #fff4e6;
	font-size: 16px;
	padding: 16px 32px;
}

.projectitem-2{
	grid-column: 3 / 4;
	grid-row: 2 / 3;
	background-image: url("../Images/Work Images/GiftGuru mockup.jpeg");
	background-size: cover;
}

.projectitem-3{
	grid-column: 2 / 3;
	grid-row: 3 / 4;
	justify-self: end;
	align-self: start;
	position: relative;
	width: 50%;
	background-image: url("../Images/Work Images/textbook compare mockup.jpeg");
	background-size: cover;
}

