#s-19a62818-7310-4d16-bbbf-0fecb07596b0 #s-Label_89 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19a62818-7310-4d16-bbbf-0fecb07596b0 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19a62818-7310-4d16-bbbf-0fecb07596b0 #s-Label_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19a62818-7310-4d16-bbbf-0fecb07596b0 #s-Label_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19a62818-7310-4d16-bbbf-0fecb07596b0 #s-Label_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19a62818-7310-4d16-bbbf-0fecb07596b0 #s-Ellipse_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19a62818-7310-4d16-bbbf-0fecb07596b0 #s-Ellipse_20 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19a62818-7310-4d16-bbbf-0fecb07596b0 #s-Ellipse_23 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19a62818-7310-4d16-bbbf-0fecb07596b0 #s-Ellipse_24 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19a62818-7310-4d16-bbbf-0fecb07596b0 #s-Ellipse_25 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19a62818-7310-4d16-bbbf-0fecb07596b0 #s-Label_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19a62818-7310-4d16-bbbf-0fecb07596b0 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19a62818-7310-4d16-bbbf-0fecb07596b0 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19a62818-7310-4d16-bbbf-0fecb07596b0 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19a62818-7310-4d16-bbbf-0fecb07596b0 #s-Rich_text_199 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19a62818-7310-4d16-bbbf-0fecb07596b0 #s-Line_108 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19a62818-7310-4d16-bbbf-0fecb07596b0 #s-Rich_text_201 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19a62818-7310-4d16-bbbf-0fecb07596b0 #s-Line_110 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19a62818-7310-4d16-bbbf-0fecb07596b0 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-19a62818-7310-4d16-bbbf-0fecb07596b0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}