#s-d16f7917-a5ce-4b08-8b68-db0e66d77790 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d16f7917-a5ce-4b08-8b68-db0e66d77790 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-d16f7917-a5ce-4b08-8b68-db0e66d77790 #s-Label_33 {
  -ms-transform: rotate(0.0deg);
}
#s-d16f7917-a5ce-4b08-8b68-db0e66d77790 #s-Label_34 {
  -ms-transform: rotate(0.0deg);
}
#s-d16f7917-a5ce-4b08-8b68-db0e66d77790 #s-Label_40 {
  -ms-transform: rotate(0.0deg);
}
#s-d16f7917-a5ce-4b08-8b68-db0e66d77790 #s-Ellipse_13 {
  -ms-transform: rotate(0.0deg);
}
#s-d16f7917-a5ce-4b08-8b68-db0e66d77790 #s-Ellipse_20 {
  -ms-transform: rotate(0.0deg);
}
#s-d16f7917-a5ce-4b08-8b68-db0e66d77790 #s-Ellipse_23 {
  -ms-transform: rotate(0.0deg);
}
#s-d16f7917-a5ce-4b08-8b68-db0e66d77790 #s-Ellipse_24 {
  -ms-transform: rotate(0.0deg);
}
#s-d16f7917-a5ce-4b08-8b68-db0e66d77790 #s-Ellipse_25 {
  -ms-transform: rotate(0.0deg);
}
#s-d16f7917-a5ce-4b08-8b68-db0e66d77790 #s-Label_55 {
  -ms-transform: rotate(0.0deg);
}
#s-d16f7917-a5ce-4b08-8b68-db0e66d77790 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-d16f7917-a5ce-4b08-8b68-db0e66d77790 #s-Label_53 {
  -ms-transform: rotate(0.0deg);
}
#s-d16f7917-a5ce-4b08-8b68-db0e66d77790 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d16f7917-a5ce-4b08-8b68-db0e66d77790 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d16f7917-a5ce-4b08-8b68-db0e66d77790 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-d16f7917-a5ce-4b08-8b68-db0e66d77790 #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-d16f7917-a5ce-4b08-8b68-db0e66d77790 #s-Label_106 {
  -ms-transform: rotate(0.0deg);
}
#s-d16f7917-a5ce-4b08-8b68-db0e66d77790 #s-Label_177 {
  -ms-transform: rotate(0.0deg);
}
#s-d16f7917-a5ce-4b08-8b68-db0e66d77790 #s-Label_107 {
  -ms-transform: rotate(0.0deg);
}
#s-d16f7917-a5ce-4b08-8b68-db0e66d77790 #s-Label_178 {
  -ms-transform: rotate(0.0deg);
}
#s-d16f7917-a5ce-4b08-8b68-db0e66d77790 #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-d16f7917-a5ce-4b08-8b68-db0e66d77790 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d16f7917-a5ce-4b08-8b68-db0e66d77790 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-d16f7917-a5ce-4b08-8b68-db0e66d77790 #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-d16f7917-a5ce-4b08-8b68-db0e66d77790 #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-d16f7917-a5ce-4b08-8b68-db0e66d77790 #s-Label_304 {
  -ms-transform: rotate(0.0deg);
}
#s-d16f7917-a5ce-4b08-8b68-db0e66d77790 #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-d16f7917-a5ce-4b08-8b68-db0e66d77790 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d16f7917-a5ce-4b08-8b68-db0e66d77790 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-d16f7917-a5ce-4b08-8b68-db0e66d77790 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-d16f7917-a5ce-4b08-8b68-db0e66d77790 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-d16f7917-a5ce-4b08-8b68-db0e66d77790 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-d16f7917-a5ce-4b08-8b68-db0e66d77790 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-d16f7917-a5ce-4b08-8b68-db0e66d77790 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-d16f7917-a5ce-4b08-8b68-db0e66d77790 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-d16f7917-a5ce-4b08-8b68-db0e66d77790 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-d16f7917-a5ce-4b08-8b68-db0e66d77790 #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-d16f7917-a5ce-4b08-8b68-db0e66d77790 #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-d16f7917-a5ce-4b08-8b68-db0e66d77790 #s-Label_21 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-d16f7917-a5ce-4b08-8b68-db0e66d77790 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}