#s-19a62818-7310-4d16-bbbf-0fecb07596b0 #s-Sign-in-screen {
  border-collapse: separate;
}
#s-19a62818-7310-4d16-bbbf-0fecb07596b0 #s-Label_89 {
  -ms-transform: rotate(0.0deg);
}
#s-19a62818-7310-4d16-bbbf-0fecb07596b0 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-19a62818-7310-4d16-bbbf-0fecb07596b0 #s-Label_33 {
  -ms-transform: rotate(0.0deg);
}
#s-19a62818-7310-4d16-bbbf-0fecb07596b0 #s-Label_34 {
  -ms-transform: rotate(0.0deg);
}
#s-19a62818-7310-4d16-bbbf-0fecb07596b0 #s-Label_40 {
  -ms-transform: rotate(0.0deg);
}
#s-19a62818-7310-4d16-bbbf-0fecb07596b0 #s-Ellipse_13 {
  -ms-transform: rotate(0.0deg);
}
#s-19a62818-7310-4d16-bbbf-0fecb07596b0 #s-Ellipse_20 {
  -ms-transform: rotate(0.0deg);
}
#s-19a62818-7310-4d16-bbbf-0fecb07596b0 #s-Ellipse_23 {
  -ms-transform: rotate(0.0deg);
}
#s-19a62818-7310-4d16-bbbf-0fecb07596b0 #s-Ellipse_24 {
  -ms-transform: rotate(0.0deg);
}
#s-19a62818-7310-4d16-bbbf-0fecb07596b0 #s-Ellipse_25 {
  -ms-transform: rotate(0.0deg);
}
#s-19a62818-7310-4d16-bbbf-0fecb07596b0 #s-Label_55 {
  -ms-transform: rotate(0.0deg);
}
#s-19a62818-7310-4d16-bbbf-0fecb07596b0 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-19a62818-7310-4d16-bbbf-0fecb07596b0 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-19a62818-7310-4d16-bbbf-0fecb07596b0 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-19a62818-7310-4d16-bbbf-0fecb07596b0 #s-Rich_text_199 {
  -ms-transform: rotate(0.0deg);
}
#s-19a62818-7310-4d16-bbbf-0fecb07596b0 #s-Line_108 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-19a62818-7310-4d16-bbbf-0fecb07596b0 #s-Line_108 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-19a62818-7310-4d16-bbbf-0fecb07596b0 #s-Rich_text_201 {
  -ms-transform: rotate(0.0deg);
}
#s-19a62818-7310-4d16-bbbf-0fecb07596b0 #s-Line_110 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-19a62818-7310-4d16-bbbf-0fecb07596b0 #s-Line_110 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-19a62818-7310-4d16-bbbf-0fecb07596b0 #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  border-radius: 29px 29px 29px 29px;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  width: 118px;
  height: 25px;
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-19a62818-7310-4d16-bbbf-0fecb07596b0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}