#s-5de8242f-4309-4091-847a-ffa4512faef0 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #s-Rectangle_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1024px;
  height: 767px;
  background-color: #465E8D;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #s-Rectangle_2 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #s-Sign-in-screen {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1023px;
  height: 768px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #s-Cell-header .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #s-Cell-header td.layout {
  padding: 0px 0px 0px 0px;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #s-Cell-header .verticalalign {
  vertical-align: middle;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #s-Cell-header {
  width: 1023px;
  height: 103px;
  background-color: #EFEFEF;
  background-image: none;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #s-Label_89 {
  position: absolute;
  top: 27px;
  left: 290px;
  width: 445px;
  height: 52px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #s-Label_89 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #s-Label_89 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 20.0pt;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #s-Label_89 span#rtr-s-Label_89_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #s-Statusbar-white_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1024px;
  height: 19px;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #s-Rectangle_4 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1024px;
  height: 19px;
  background-color: #F6F6F6;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #s-Rectangle_4 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #s-Label_33 {
  position: absolute;
  top: 3px;
  left: 43px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'IOS9-Icons-Regular',Arial;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #s-Label_33 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #s-Label_33 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'IOS9-Icons-Regular',Arial;
  font-size: 12.0pt;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #s-Label_33 span#rtr-s-Label_33_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'IOS9-Icons-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #s-Label_34 {
  position: absolute;
  top: 4px;
  left: 947px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'IOS9-Icons-Regular',Arial;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #s-Label_34 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #s-Label_34 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'IOS9-Icons-Regular',Arial;
  font-size: 11.0pt;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #s-Label_34 span#rtr-s-Label_34_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'IOS9-Icons-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #s-Label_40 {
  position: absolute;
  top: 0px;
  left: 476px;
  width: 78px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #s-Label_40 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #s-Label_40 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #s-Label_40 span#rtr-s-Label_40_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #s-Group_15 {
  position: absolute;
  top: 7px;
  left: 4px;
  width: 34px;
  height: 6px;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #s-Ellipse_13 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #s-Ellipse_13 .content {
  width: 6px;
  height: 6px;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #s-Ellipse_13 {
  position: absolute;
  top: 0px;
  left: 21px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #shapewrapper-s-Ellipse_13 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #shapewrapper-s-Ellipse_13 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #shapewrapper-s-Ellipse_13 span#rtr-s-Ellipse_13_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #s-Ellipse_20 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #s-Ellipse_20 .content {
  width: 6px;
  height: 6px;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #s-Ellipse_20 {
  position: absolute;
  top: 0px;
  left: 28px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #shapewrapper-s-Ellipse_20 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #shapewrapper-s-Ellipse_20 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #shapewrapper-s-Ellipse_20 span#rtr-s-Ellipse_20_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #s-Ellipse_23 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #s-Ellipse_23 .content {
  width: 6px;
  height: 6px;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #s-Ellipse_23 {
  position: absolute;
  top: 0px;
  left: 14px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #shapewrapper-s-Ellipse_23 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #shapewrapper-s-Ellipse_23 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #shapewrapper-s-Ellipse_23 span#rtr-s-Ellipse_23_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #s-Ellipse_24 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #s-Ellipse_24 .content {
  width: 6px;
  height: 6px;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #s-Ellipse_24 {
  position: absolute;
  top: 0px;
  left: 7px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #shapewrapper-s-Ellipse_24 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #shapewrapper-s-Ellipse_24 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #shapewrapper-s-Ellipse_24 span#rtr-s-Ellipse_24_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #s-Ellipse_25 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #s-Ellipse_25 .content {
  width: 6px;
  height: 6px;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #s-Ellipse_25 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #shapewrapper-s-Ellipse_25 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #shapewrapper-s-Ellipse_25 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #shapewrapper-s-Ellipse_25 span#rtr-s-Ellipse_25_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #s-Label_55 {
  position: absolute;
  top: 1px;
  left: 966px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #s-Label_55 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #s-Label_55 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #s-Label_55 span#rtr-s-Label_55_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #s-Image_7 {
  position: absolute;
  top: 5px;
  left: 993px;
  width: 25px;
  height: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #s-Cell-content .layout {
  overflow-x: hidden;
  overflow-y: auto;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #s-Cell-content td.layout {
  padding: 0px 0px 0px 0px;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #s-Cell-content .verticalalign {
  vertical-align: middle;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #s-Cell-content {
  width: 1023px;
  height: 665px;
  background-color: #465E8D;
  background-image: none;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #s-Image_1 {
  position: absolute;
  top: 129px;
  left: 437px;
  width: 156px;
  height: 155px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #s-Input_1 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #s-Input_1 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #s-Input_1 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #s-Input_1 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #s-Input_1 {
  position: absolute;
  top: 341px;
  left: 388px;
  padding-left: 19px;
  width: 230px;
  height: 29px;
  background-color: #C1C1C1;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  box-shadow: none;
  text-shadow: none;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 14.0pt;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #s-Input_1 input {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 14.0pt;
  text-shadow: none;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #s-Input_2 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #s-Input_2 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #s-Input_2 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #s-Input_2 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #s-Input_2 {
  position: absolute;
  top: 398px;
  left: 388px;
  padding-left: 19px;
  width: 230px;
  height: 29px;
  background-color: #C1C1C1;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  box-shadow: none;
  text-shadow: none;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 14.0pt;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 #s-Input_2 input {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 14.0pt;
  text-shadow: none;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-5de8242f-4309-4091-847a-ffa4512faef0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}