#s-90e08e28-5903-4b95-970b-682b04e95d63 #s-Label_89 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-90e08e28-5903-4b95-970b-682b04e95d63 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-90e08e28-5903-4b95-970b-682b04e95d63 #s-Label_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-90e08e28-5903-4b95-970b-682b04e95d63 #s-Label_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-90e08e28-5903-4b95-970b-682b04e95d63 #s-Label_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-90e08e28-5903-4b95-970b-682b04e95d63 #s-Ellipse_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-90e08e28-5903-4b95-970b-682b04e95d63 #s-Ellipse_20 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-90e08e28-5903-4b95-970b-682b04e95d63 #s-Ellipse_23 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-90e08e28-5903-4b95-970b-682b04e95d63 #s-Ellipse_24 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-90e08e28-5903-4b95-970b-682b04e95d63 #s-Ellipse_25 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-90e08e28-5903-4b95-970b-682b04e95d63 #s-Label_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-90e08e28-5903-4b95-970b-682b04e95d63 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-90e08e28-5903-4b95-970b-682b04e95d63 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-90e08e28-5903-4b95-970b-682b04e95d63 #s-Rich_text_199 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-90e08e28-5903-4b95-970b-682b04e95d63 #s-Line_108 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-90e08e28-5903-4b95-970b-682b04e95d63 #s-Rich_text_201 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-90e08e28-5903-4b95-970b-682b04e95d63 #s-Line_110 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-90e08e28-5903-4b95-970b-682b04e95d63 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-90e08e28-5903-4b95-970b-682b04e95d63 #s-Mail {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-90e08e28-5903-4b95-970b-682b04e95d63 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}