#s-e58d1b63-b568-443f-aaff-4b010c9e198c #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-e58d1b63-b568-443f-aaff-4b010c9e198c #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-e58d1b63-b568-443f-aaff-4b010c9e198c #s-Label_33 {
  -ms-transform: rotate(0.0deg);
}
#s-e58d1b63-b568-443f-aaff-4b010c9e198c #s-Label_34 {
  -ms-transform: rotate(0.0deg);
}
#s-e58d1b63-b568-443f-aaff-4b010c9e198c #s-Label_40 {
  -ms-transform: rotate(0.0deg);
}
#s-e58d1b63-b568-443f-aaff-4b010c9e198c #s-Ellipse_13 {
  -ms-transform: rotate(0.0deg);
}
#s-e58d1b63-b568-443f-aaff-4b010c9e198c #s-Ellipse_20 {
  -ms-transform: rotate(0.0deg);
}
#s-e58d1b63-b568-443f-aaff-4b010c9e198c #s-Ellipse_23 {
  -ms-transform: rotate(0.0deg);
}
#s-e58d1b63-b568-443f-aaff-4b010c9e198c #s-Ellipse_24 {
  -ms-transform: rotate(0.0deg);
}
#s-e58d1b63-b568-443f-aaff-4b010c9e198c #s-Ellipse_25 {
  -ms-transform: rotate(0.0deg);
}
#s-e58d1b63-b568-443f-aaff-4b010c9e198c #s-Label_55 {
  -ms-transform: rotate(0.0deg);
}
#s-e58d1b63-b568-443f-aaff-4b010c9e198c #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-e58d1b63-b568-443f-aaff-4b010c9e198c #s-Category_1-options {
  background-color: #CCCCCC;
}
#s-e58d1b63-b568-443f-aaff-4b010c9e198c #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e58d1b63-b568-443f-aaff-4b010c9e198c #s-Rectangle_3 {
  border-top-width: 3px;
  border-top-style: dashed;
  border-top-color: #CCCCCC;
  border-right-width: 3px;
  border-right-style: dashed;
  border-right-color: #CCCCCC;
  border-bottom-width: 3px;
  border-bottom-style: dashed;
  border-bottom-color: #CCCCCC;
  border-left-width: 3px;
  border-left-style: dashed;
  border-left-color: #CCCCCC;
  border-radius: 10px 10px 10px 10px;
  -ms-transform: rotate(0.0deg);
}
#s-e58d1b63-b568-443f-aaff-4b010c9e198c #s-Rich_text_10 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 4px 4px 4px 4px;
  padding-top: 22px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 266px;
  height: 134px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
  filter: alpha(opacity=95);
  -ms-transform: rotate(0.0deg);
}
#s-e58d1b63-b568-443f-aaff-4b010c9e198c #s-Label_27 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-e58d1b63-b568-443f-aaff-4b010c9e198c #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-e58d1b63-b568-443f-aaff-4b010c9e198c #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-e58d1b63-b568-443f-aaff-4b010c9e198c #s-Label_106 {
  -ms-transform: rotate(0.0deg);
}
#s-e58d1b63-b568-443f-aaff-4b010c9e198c #s-Label_177 {
  -ms-transform: rotate(0.0deg);
}
#s-e58d1b63-b568-443f-aaff-4b010c9e198c #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-e58d1b63-b568-443f-aaff-4b010c9e198c #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#s-e58d1b63-b568-443f-aaff-4b010c9e198c #s-Label_107 {
  -ms-transform: rotate(0.0deg);
}
#s-e58d1b63-b568-443f-aaff-4b010c9e198c #s-Label_178 {
  -ms-transform: rotate(0.0deg);
}
#s-e58d1b63-b568-443f-aaff-4b010c9e198c #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-e58d1b63-b568-443f-aaff-4b010c9e198c #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-e58d1b63-b568-443f-aaff-4b010c9e198c #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-e58d1b63-b568-443f-aaff-4b010c9e198c #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-e58d1b63-b568-443f-aaff-4b010c9e198c #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-e58d1b63-b568-443f-aaff-4b010c9e198c #s-Label_304 {
  -ms-transform: rotate(0.0deg);
}
#s-e58d1b63-b568-443f-aaff-4b010c9e198c #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-e58d1b63-b568-443f-aaff-4b010c9e198c #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-e58d1b63-b568-443f-aaff-4b010c9e198c #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-e58d1b63-b568-443f-aaff-4b010c9e198c #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-e58d1b63-b568-443f-aaff-4b010c9e198c #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-e58d1b63-b568-443f-aaff-4b010c9e198c #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-e58d1b63-b568-443f-aaff-4b010c9e198c #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-e58d1b63-b568-443f-aaff-4b010c9e198c #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-e58d1b63-b568-443f-aaff-4b010c9e198c #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-e58d1b63-b568-443f-aaff-4b010c9e198c #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-e58d1b63-b568-443f-aaff-4b010c9e198c #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-e58d1b63-b568-443f-aaff-4b010c9e198c #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-e58d1b63-b568-443f-aaff-4b010c9e198c #s-Label_21 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-e58d1b63-b568-443f-aaff-4b010c9e198c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}