#s-535387ee-61ff-4030-b8a2-d09939c430fa #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-535387ee-61ff-4030-b8a2-d09939c430fa #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-535387ee-61ff-4030-b8a2-d09939c430fa #s-Label_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-535387ee-61ff-4030-b8a2-d09939c430fa #s-Label_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-535387ee-61ff-4030-b8a2-d09939c430fa #s-Label_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-535387ee-61ff-4030-b8a2-d09939c430fa #s-Ellipse_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-535387ee-61ff-4030-b8a2-d09939c430fa #s-Ellipse_20 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-535387ee-61ff-4030-b8a2-d09939c430fa #s-Ellipse_23 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-535387ee-61ff-4030-b8a2-d09939c430fa #s-Ellipse_24 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-535387ee-61ff-4030-b8a2-d09939c430fa #s-Ellipse_25 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-535387ee-61ff-4030-b8a2-d09939c430fa #s-Label_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-535387ee-61ff-4030-b8a2-d09939c430fa #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-535387ee-61ff-4030-b8a2-d09939c430fa #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-535387ee-61ff-4030-b8a2-d09939c430fa #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-535387ee-61ff-4030-b8a2-d09939c430fa #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-535387ee-61ff-4030-b8a2-d09939c430fa > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}