#s-d030c249-6316-41ae-841e-6ea15fd0237c #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d030c249-6316-41ae-841e-6ea15fd0237c #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d030c249-6316-41ae-841e-6ea15fd0237c #s-Label_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d030c249-6316-41ae-841e-6ea15fd0237c #s-Label_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d030c249-6316-41ae-841e-6ea15fd0237c #s-Label_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d030c249-6316-41ae-841e-6ea15fd0237c #s-Ellipse_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d030c249-6316-41ae-841e-6ea15fd0237c #s-Ellipse_20 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d030c249-6316-41ae-841e-6ea15fd0237c #s-Ellipse_23 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d030c249-6316-41ae-841e-6ea15fd0237c #s-Ellipse_24 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d030c249-6316-41ae-841e-6ea15fd0237c #s-Ellipse_25 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d030c249-6316-41ae-841e-6ea15fd0237c #s-Label_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d030c249-6316-41ae-841e-6ea15fd0237c #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d030c249-6316-41ae-841e-6ea15fd0237c #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d030c249-6316-41ae-841e-6ea15fd0237c #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d030c249-6316-41ae-841e-6ea15fd0237c #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d030c249-6316-41ae-841e-6ea15fd0237c #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d030c249-6316-41ae-841e-6ea15fd0237c #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d030c249-6316-41ae-841e-6ea15fd0237c #s-Label_304 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d030c249-6316-41ae-841e-6ea15fd0237c #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d030c249-6316-41ae-841e-6ea15fd0237c #s-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=13) ;
  filter: alpha(opacity=13) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d030c249-6316-41ae-841e-6ea15fd0237c #s-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d030c249-6316-41ae-841e-6ea15fd0237c #s-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d030c249-6316-41ae-841e-6ea15fd0237c #s-Text_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d030c249-6316-41ae-841e-6ea15fd0237c #s-Text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d030c249-6316-41ae-841e-6ea15fd0237c #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d030c249-6316-41ae-841e-6ea15fd0237c #s-Text_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d030c249-6316-41ae-841e-6ea15fd0237c #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d030c249-6316-41ae-841e-6ea15fd0237c #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d030c249-6316-41ae-841e-6ea15fd0237c #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d030c249-6316-41ae-841e-6ea15fd0237c #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d030c249-6316-41ae-841e-6ea15fd0237c #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d030c249-6316-41ae-841e-6ea15fd0237c #s-Label_307 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d030c249-6316-41ae-841e-6ea15fd0237c #s-Rich_text_12 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95) ;
  filter: alpha(opacity=95) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d030c249-6316-41ae-841e-6ea15fd0237c #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d030c249-6316-41ae-841e-6ea15fd0237c #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d030c249-6316-41ae-841e-6ea15fd0237c #s-Rich_text_11 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95) ;
  filter: alpha(opacity=95) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d030c249-6316-41ae-841e-6ea15fd0237c #s-Label_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d030c249-6316-41ae-841e-6ea15fd0237c #s-Label_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d030c249-6316-41ae-841e-6ea15fd0237c #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d030c249-6316-41ae-841e-6ea15fd0237c #s-Label_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d030c249-6316-41ae-841e-6ea15fd0237c #s-Label_177 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d030c249-6316-41ae-841e-6ea15fd0237c #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d030c249-6316-41ae-841e-6ea15fd0237c #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d030c249-6316-41ae-841e-6ea15fd0237c #s-Label_107 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d030c249-6316-41ae-841e-6ea15fd0237c #s-Label_178 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d030c249-6316-41ae-841e-6ea15fd0237c #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d030c249-6316-41ae-841e-6ea15fd0237c #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d030c249-6316-41ae-841e-6ea15fd0237c #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d030c249-6316-41ae-841e-6ea15fd0237c #s-Text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d030c249-6316-41ae-841e-6ea15fd0237c #s-Text_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d030c249-6316-41ae-841e-6ea15fd0237c #s-Label_305 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d030c249-6316-41ae-841e-6ea15fd0237c #s-Text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d030c249-6316-41ae-841e-6ea15fd0237c #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d030c249-6316-41ae-841e-6ea15fd0237c #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d030c249-6316-41ae-841e-6ea15fd0237c #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d030c249-6316-41ae-841e-6ea15fd0237c #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d030c249-6316-41ae-841e-6ea15fd0237c #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d030c249-6316-41ae-841e-6ea15fd0237c #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d030c249-6316-41ae-841e-6ea15fd0237c #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d030c249-6316-41ae-841e-6ea15fd0237c #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d030c249-6316-41ae-841e-6ea15fd0237c #s-Label_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-d030c249-6316-41ae-841e-6ea15fd0237c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}